.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


img{

  width:300px;
  height:200px;
  
}
.country_image{

  width:600px;
  height:400px;
}

.input{

  padding:10px;
  width:300px;
  box-shadow: "rgba(100, 100, 111, 0.2) 0px 7px 29px 0px";
  margin-left: -650px;
}

.filter{

margin-right: -900px;

}
.header{

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  height: 7vh;
 

}